html{
    background-image: url(https://wallpapercave.com/wp/wp1828928.jpg);
    background-repeat:repeat;
    background-color: rgba(145, 155, 241, 0.8);
    background-blend-mode: lighten;
    font-family: 'Blinker', sans-serif;
    font-size: 100%;
}

body{
    color: white;
}

a{
    text-decoration: none;
    color: white;
    
}


#navbar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    padding-left: 7px;
    padding-right: 15px;
    background-color: rgba(90, 90, 235, 0.911);
}

#navbar header{
    font-size: 1.7em;
    text-align: center;
}

#navbar a{
    line-height: 50px;
    font-size: 1.3em;
}

#main-doc{
    margin-left: 170px;
    padding-left: 15px;
}

pre code {
    background-color: rgb(56, 43, 231);
    border: 1px solid rgb(56, 43, 231);
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    margin:auto;
}
    

@media (max-width:700px) {
    #navbar{
        padding-left: 5px;
        padding-right: 5px;
    }

    #navbar header{
        font-size: 1em;
    }

    #navbar a {
        font-size: 0.8em;
    }

    pre code{
        overflow: scroll;
    }
}
